body{
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: flex-start;
}

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    background-color: lightpink;
    color: brown;
    font-weight: bold;
    font-size: x-large;
}

.s1 .header{
    font-weight: bold;
    background-color: transparent;
    padding: 0;
}

.s1 img{
    width:400px;
    height: auto;
}

.s2 img {
    width:50px;
}

.staff{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 button {
    background-color: lightpink;
    color:brown;
    width:100px;
}

.s1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: pink;
}

.vstack{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
    color: brown;
    padding:16px;
}

ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a{
    text-decoration: none;
}


